body {
  font-size: 62.5%;
  font-family: arial, sans-serif;
}
#nttLogo{
  height: 100px;
  width: 100px;
}
.header{
  text-align: center;
  padding-top: 0.4%;
  padding-bottom: 0.4%;
  margin-bottom: 1%;
}
#websiteTitle{
  font-size: 10em;
  vertical-align: middle;
  font-family: 'Pacifico', cursive;
  padding-left: 19px;
  color: #191970;
}
.productSpace{
  width: 70%;
  margin-left: 3%;
}
.theCart{
  width: 23%;
  margin-left: 75%;
  border: 5px solid black;
  margin-top: -25vw;
  height: 63em;
}
#cartTitle{
  font-size: 3em;
  vertical-align: middle;
  font-family: 'Pacifico', cursive;
  padding-left: 19px;
  color: #191970;
}
#cartLogo{
  height: 50px;
  width: 50px;
}
.cartSpace{
  border-bottom: 1px black solid;
  margin-top: -10%;
  margin-bottom: 5%;
  text-align: center;
}
.itemHead2{
  margin-left: 20%;
}
.itemHead3{
  margin-left: 35%;
}
.eachItem{
  background-color: red;
  margin-bottom: 5%;
}
.eachItem1{
  margin-top: -10%;
  margin-bottom: -80%;
  padding-bottom: -70%; 
}
.itemDetails{
  font-size: 2em;
  font-style: italic;
}
.tableCart{
  font-size: 3em;
}
.theTable{
  height: 84%;
}
.tableHead2{
  width: 70%;
}
.tableHead1{
  margin-left: 9%;
  width:20%;
}
tr{
  margin-top: 10%;
  border-bottom: solid 1px;
  
  /*Disable text selection*/
  /*
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtm-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  */
}
td {
    padding-top: .5em;
    padding-bottom: .5em;
}

.totalBadge{
  margin-bottom: 50%;
  font-size: 4em;
  font-weight: bold;
}
.badgeNumber{
  font-size:1em;
}
thead{
  position: -ms-sticky;
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -o-sticky;
  position: sticky;
  top: 0px;
  background-color: blue;
}
.greeting{
	position:fixed;
	margin-left: 75%;
	border: 3px solid;
	width: 23%;
	height: 10%;
}
.signOutBtn{
	margin-left: 70%;
	margin-top: -3%;
}