body {
  font-size: 62.5%;
  font-family: arial, sans-serif;
}
#nttLogo{
  height: 100px;
  width: 100px;
}
.header{
  text-align: center;
  padding-top: 0.4%;
  padding-bottom: 0.4%;
  margin-bottom: 1%;
}
#websiteTitle{
  font-size: 10em;
  vertical-align: middle;
  font-family: 'Pacifico', cursive;
  padding-left: 19px;
  color: #191970;
}
.productSpace{
  width: 70%;
  margin-left: 3%;
}
.theCart{
  position: fixed;
  width: 23%;
  margin-left: 75%;
  border: solid black;
  margin-top: -25vw;
}
#cartTitle{
  font-size: 3em;
  vertical-align: middle;
  font-family: 'Pacifico', cursive;
  padding-left: 19px;
  color: #191970;
}
#cartLogo{
  height: 50px;
  width: 50px;
}
.cartSpace{
  border-bottom: 1px black solid;
  margin-top: -10%;
  margin-bottom: 5%;
  text-align: center;
}
.itemHead1{
}
.itemHead2{
  margin-left: 20%;
}
.itemHead3{
  margin-left: 35%;
}
.eachItem{
  background-color: red;
  margin-bottom: 5%;
}
.eachItem1{
  margin-top: -10%;
  margin-bottom: -80%;
  padding-bottom: -70%; 
}
.itemDetails{
  font-size: 2em;
  font-style: italic;
}
.tableCart{
  font-size: 3em;
}
.tableHead2{
  width: 70%;
}
.tableHead1{
  width:20%;
}
tr{
  margin-top: 10%;
  border-bottom: solid 1px;
}
td {
    padding-top: .5em;
    padding-bottom: .5em;
}
table.test td {
    background-color: lime;
    margin: 12px 12px 12px 12px;
    padding: 12px 12px 12px 12px;
}
table.test {
    border-collapse: separate;
    border-spacing: 10px;
    *border-collapse: expression('separate', cellSpacing = '10px');
}